#about {
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 50px 15vw;
  background-color: #FFFFFF;
  border-bottom: 0.5px solid #B0B0B0;
}

.about-info {
  padding-right: 50px;
}

.about-text {
  text-align: justify;
}

#about img {
  max-width: 100%;
  max-height: 400px;
  margin: 1rem;
  border-radius: 50%;
  float: right;
}
