#projects {
  text-align: center;
}

.projects {
  background-color: #FFFFFF;
  display: inline-block;
  text-align: center;
}

.project {
  display: flex;
  justify-content: space-around;
  margin: 5rem;
  margin-bottom: 3rem;
  border-radius: 20px;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.project img {
  max-width: 60vw;
  max-height: none;
}

/* modal */

.technologies {
  padding-left: 1rem;
}
