/* values */

#values {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding-left: 2rem;
  margin: 8rem 0;
  left: 32vw;
  width: 60vw;
  height: 300px;
  position: relative;
  background: #ddb8ba;
  color: #FFFFFF;
}

#values:after {
  content: "";
  position: absolute;
  left: -99.5px;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 100px solid #ddb8ba;
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
}

#values:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 100px solid #FFFFFF;
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
}
