#skills {
  text-align: center;
}

.languages i, .frameworks i {
  transition: font-size 0.5s;
  font-size: 4rem;
  display: flex;
  margin: 1rem;
  flex-direction: column;
}

.languages i:hover, .frameworks i:hover {
  transition: font-size 0.5s;
  font-size: 5rem;
}

.languages i p, .frameworks i p{
  color: black;
  position: relative;
  bottom: 6rem;
  font-size: .75rem;
  height:1rem;
}

.skills-subheader {
  margin: 1.5rem;
}

#skills .section-header {
  margin-bottom: 0.75rem;
}

.technologies {
  padding-left: 1rem;
}
